#about {
    text-align: center;
    margin: 30px 10%;
    gap: 100px;
}
#features {
    margin: 100px 10%;
}
#features h2 {
    text-align: center;
}
#testimonials {
    background-color: rgba(41, 36, 71, 0.947);
    color: white;
    padding: 20px 50px;
}
#testimonials .nav-link .aria-selected {
    color: black;
}
#testimonials .nav-link[aria-selected="false"] {
    color: white;
}
#myTab h2 {
    width: 100%;
    text-align: center;
}
#contact {
    margin: 30px;
    text-align: center;
}
footer {
    text-align: center;
}